@import "import/variables";
@import "import/fonts";
@import "import/mixins";
@import "import/animations";
@import "import/loading";
@import "import/dialogs";
@import "import/index";
@import "import/content";

// Misc
body {
  background-color:@background-color;
  min-width:960px;
  margin:0px;
}
a {
  text-decoration:none;
}

// No JS
#no-js {
  background-color:@nojs-background-color;
  position:absolute;
  color:@nojs-color;
  z-index:999;
  height:100%;
  width:100%;
  &-inside {
    margin:-50px 0px 0px -300px;
    position:absolute;
    height:100px;
    width:600px;
    left:50%;
    top:50%;
  }
  &-icon {
    line-height:100px;
    position:absolute;
    text-align:left;
    font-size:70px;
    height:100px;
    width:100px;
    left:0px;
    top:0px;
  }
  &-title, &-comment {
    margin:0px 0px 0px 100px;
    height:30px;
  }
  &-title {
    font-family:'Quicksand Regular';
    margin:10px 0px 0px 100px;
    font-size:24px;
  }
  &-comment {
    font-family:'Quicksand Light';
    font-size:16px;
  }
}