.Dota2-Mods {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #222;
  background-size: cover;
}
.Dota2-Mods-title {
  font-family: 'Quicksand Regular';
  text-align: center;
  font-size: 36px;
  padding: 20px;
  color: #fff;
}
.Dota2-Mods-version-selector {
  display: inline-block;
  -webkit-perspective: 500px;
  -ms-perspective: 500px;
  perspective: 500px;
  position: relative;
  line-height: 50px;
  text-align: right;
  height: 50px;
}
.Dota2-Mods-version-selector span {
  font-size: 0.8em;
}
.Dota2-Mods-version-selector.version-dropdown .Dota2-Mods-version-selector-title {
  cursor: pointer;
}
.Dota2-Mods-version-selector.version-dropdown .Dota2-Mods-version-selector-title:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.Dota2-Mods-version-selector-title {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 500ms ease 0s;
  -moz-transition: background-color 500ms ease 0s;
  -o-transition: background-color 500ms ease 0s;
  transition: background-color 500ms ease 0s;
  line-height: 50px;
  padding: 0px 10px;
  height: 50px;
}
.Dota2-Mods-version-selector-options {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-90deg);
  -ms-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 50% 0%;
  -ms-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  position: absolute;
  display: block;
  z-index: -1;
  opacity: 0;
  right: 0px;
  top: 100%;
}
.Dota2-Mods-version-selector-options.expanded {
  -webkit-transform: rotateX(0deg) !important;
  -ms-transform: rotateX(0deg) !important;
  transform: rotateX(0deg) !important;
  opacity: 1 !important;
}
.Dota2-Mods-version-selector-option {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 500ms ease 0s;
  -moz-transition: background-color 500ms ease 0s;
  -o-transition: background-color 500ms ease 0s;
  transition: background-color 500ms ease 0s;
  padding: 0px 10px 0px 10px;
  white-space: nowrap;
  line-height: 50px;
  cursor: pointer;
  height: 50px;
}
.Dota2-Mods-version-selector-option:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.Dota2-Mods-icons-preview {
  background-image: url('http://kuzhagaliyev.kz/images/Dota2-Mods/icons-preview.png');
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  margin: 20px auto;
  height: 168px;
  width: 600px;
}
.Dota2-Mods-buttons {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.Dota2-Mods-buttons a {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 500ms ease 0s;
  -moz-transition: background-color 500ms ease 0s;
  -o-transition: background-color 500ms ease 0s;
  transition: background-color 500ms ease 0s;
  font-family: 'Quicksand Regular';
  display: inline-block;
  font-size: 24px;
  padding: 20px;
  margin: 10px;
  color: #fff;
}
.Dota2-Mods-buttons a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.Dota2-Mods-buttons a span {
  font-family: 'Quicksand Light';
}
.Dota2-Mods-info {
  font-family: 'Quicksand Regular';
  padding: 20px;
}
.Dota2-Mods-info h1 {
  margin: 10px 0px 0px 0px;
  padding: 0px 2% 0px 0px;
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
  text-align: right;
  color: #fff;
  width: 24%;
}
.Dota2-Mods-info div {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px 0px 20px 0px;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  color: #fff;
  width: 74%;
}
.Dota2-Mods-info p {
  line-height: 20px;
  padding: 20px;
  margin: 0px;
}
.Dota2-Mods-info ol {
  padding: 10px;
  margin: 0px;
}
.Dota2-Mods-info li {
  list-style-position: inside;
  line-height: 20px;
  padding: 10px;
  margin: 0px;
}
.Dota2-Mods-info li code {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 4px;
}
