#Lanaya-Custom-Icons {
  background-image: url('http://kuzhagaliyev.kz/images/Dota2-Mods/Lanaya-Custom-Icons/background.png');
}
#Lanaya-Custom-Icons .Dota2-Mods-icons-preview {
  background-image: url('http://kuzhagaliyev.kz/images/Dota2-Mods/Lanaya-Custom-Icons/icons-preview.png');
  height: 314px;
  width: 745px;
}
#PotM-Custom-Icons {
  background-image: url('http://kuzhagaliyev.kz/images/Dota2-Mods/PotM-Custom-Icons/background.png');
}
#PotM-Custom-Icons .Dota2-Mods-icons-preview {
  background-image: url('http://kuzhagaliyev.kz/images/Dota2-Mods/PotM-Custom-Icons/icons-preview.png');
}
.Dota2-Mods {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #222;
  background-size: cover;
}
.Dota2-Mods-title {
  font-family: 'Quicksand Regular';
  text-align: center;
  font-size: 36px;
  padding: 20px;
  color: #fff;
}
.Dota2-Mods-icons-preview {
  background-image: url('http://kuzhagaliyev.kz/images/Dota2-Mods/icons-preview.png');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 20px auto;
  height: 168px;
  width: 600px;
}
.Dota2-Mods-buttons {
  text-align: center;
  padding: 10px;
  color: #fff;
}
.Dota2-Mods-buttons a {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: background-color 500ms ease 0s;
  -moz-transition: background-color 500ms ease 0s;
  -o-transition: background-color 500ms ease 0s;
  transition: background-color 500ms ease 0s;
  font-family: 'Quicksand Regular';
  display: inline-block;
  font-size: 24px;
  padding: 20px;
  margin: 10px;
  color: #fff;
}
.Dota2-Mods-buttons a:hover {
  background-color: rgba(0, 0, 0, 0.5);
}
.Dota2-Mods-buttons a span {
  font-family: 'Quicksand Light';
}
.Dota2-Mods-info {
  font-family: 'Quicksand Regular';
  padding: 20px;
}
.Dota2-Mods-info h1 {
  margin: 10px 0px 0px 0px;
  padding: 0px 2% 0px 0px;
  display: inline-block;
  vertical-align: top;
  font-weight: normal;
  text-align: right;
  color: #fff;
  width: 24%;
}
.Dota2-Mods-info div {
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0px 0px 20px 0px;
  display: inline-block;
  vertical-align: top;
  padding: 0px;
  color: #fff;
  width: 74%;
}
.Dota2-Mods-info p {
  line-height: 20px;
  padding: 20px;
  margin: 0px;
}
.Dota2-Mods-info ol {
  padding: 10px;
  margin: 0px;
}
.Dota2-Mods-info li {
  list-style-position: inside;
  line-height: 20px;
  padding: 10px;
  margin: 0px;
}
.Dota2-Mods-info li code {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 2px 4px;
}
