RewriteEngine On

RewriteRule ^Experiments/([a-zA-Z0-9_\-]+)/$ experiments.php?page=$1 [NC]
RewriteRule ^([a-zA-Z0-9_\-]+)/([a-zA-Z0-9_\-]+)/$ index.php?page=$1&section=$2
RewriteRule ^([a-zA-Z0-9_\-]+)/$ index.php?page=$1