@font-face {
  font-family: 'Uni Sans Bold';
  src: url('../fonts/unisans/Uni Sans Heavy-webfont.eot');
  src: url('../fonts/unisans/Uni Sans Heavy-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/unisans/Uni Sans Heavy-webfont.woff2') format('woff2'), url('../fonts/unisans/Uni Sans Heavy-webfont.woff') format('woff'), url('../fonts/unisans/Uni Sans Heavy-webfont.ttf') format('truetype'), url('../fonts/unisans/Uni Sans Heavy-webfont.svg#uni_sansheavy_caps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Uni Sans Regular';
  src: url('../fonts/unisans/Uni Sans Thin-webfont.eot');
  src: url('../fonts/unisans/Uni Sans Thin-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/unisans/Uni Sans Thin-webfont.woff2') format('woff2'), url('../fonts/unisans/Uni Sans Thin-webfont.woff') format('woff'), url('../fonts/unisans/Uni Sans Thin-webfont.ttf') format('truetype'), url('../fonts/unisans/Uni Sans Thin-webfont.svg#uni_sansthin_caps') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand Regular';
  src: url('../fonts/quicksand/quicksand-regular-webfont.eot');
  src: url('../fonts/quicksand/quicksand-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quicksand/quicksand-regular-webfont.woff2') format('woff2'), url('../fonts/quicksand/quicksand-regular-webfont.woff') format('woff'), url('../fonts/quicksand/quicksand-regular-webfont.ttf') format('truetype'), url('../fonts/quicksand/quicksand-regular-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand Light';
  src: url('../fonts/quicksand/quicksand-light-webfont.eot');
  src: url('../fonts/quicksand/quicksand-light-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/quicksand/quicksand-light-webfont.woff2') format('woff2'), url('../fonts/quicksand/quicksand-light-webfont.woff') format('woff'), url('../fonts/quicksand/quicksand-light-webfont.ttf') format('truetype'), url('../fonts/quicksand/quicksand-light-webfont.svg#quicksandregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lekton Regular';
  src: url('../fonts/lekton/lekton-regular-webfont.eot');
  src: url('../fonts/lekton/lekton-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/lekton/lekton-regular-webfont.woff2') format('woff2'), url('../fonts/lekton/lekton-regular-webfont.woff') format('woff'), url('../fonts/lekton/lekton-regular-webfont.ttf') format('truetype'), url('../fonts/lekton/lekton-regular-webfont.svg#lektonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'kuzhagaliyev';
  src: url('../fonts/kuzhagaliyev/kuzhagaliyev.eot?5361707');
  src: url('../fonts/kuzhagaliyev/kuzhagaliyev.eot?5361707#iefix') format('embedded-opentype'), url('../fonts/kuzhagaliyev/kuzhagaliyev.woff?5361707') format('woff'), url('../fonts/kuzhagaliyev/kuzhagaliyev.ttf?5361707') format('truetype'), url('../fonts/kuzhagaliyev/kuzhagaliyev.svg?5361707#kuzhagaliyev') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "kuzhagaliyev";
  text-decoration: inherit;
  display: inline-block;
  text-transform: none;
  font-variant: normal;
  font-weight: normal;
  margin-right: .2em;
  font-style: normal;
  text-align: center;
  margin-left: .2em;
  line-height: 1em;
  speak: none;
  width: 1em;
}
.icon-frown:before {
  content: '\e800';
}
/* '' */
.icon-left:before {
  content: '\e801';
}
/* '' */
.icon-right:before {
  content: '\e802';
}
/* '' */
.icon-download:before {
  content: '\e803';
}
/* '' */
.icon-down-open:before {
  content: '\e804';
}
/* '' */
.icon-up-open:before {
  content: '\e805';
}
/* '' */
.ui-hidden {
  display: none;
}
.ui-fit-parent-absolute,
#loading-indicator,
#loading-indicator-inside,
#dialog,
.page-wrapper,
.index-section-content-item-thumbnail {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}
.ui-fit-parent-relative,
.page-inside,
.index-section-content-item-link-inside {
  position: relative;
  min-height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}
.ui-fit-parent-width-relative {
  position: relative;
  min-height: auto;
  max-height: auto;
  height: auto;
  width: 100%;
  left: 0px;
  top: 0px;
}
.ui-centre-relative,
#loading-indicator-title,
#no-js-inside {
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position: relative;
  margin: 0px auto;
  top: 50%;
}
.ui-centre-absolute,
#loading-indicator-wrapper,
#loading-indicator-progress-bar,
#loading-indicator-progress-bar:before,
#dialog-wrapper,
.index-section-wrapper,
.index-section-title {
  -webkit-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  position: absolute;
  left: 50%;
  top: 50%;
}
.ui-content-default,
.index-sections,
.index-sections-content,
.index-section-content-wrapper.loading,
.index-section-content-wrapper.loaded {
  margin: 0px auto;
  display: block;
  width: 960px;
}
.ui-wrapper-absolute {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0px;
  top: 0px;
}
.ui-foreground-container,
.ui-foreground-container-hidden,
.index-section-content-wrapper.loading .index-section-content,
.index-section-content-wrapper.loaded .index-section-content,
#loading-indicator-wrapper,
#dialog-wrapper {
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  background-color: rgba(50, 50, 50, 0.6);
  color: #ffffff;
  border-radius: 15px;
  position: relative;
  padding: 10px;
}
.ui-foreground-container:before,
.ui-foreground-container:after,
.ui-foreground-container-hidden:before,
.ui-foreground-container-hidden:after,
.index-section-content-wrapper.loading .index-section-content:before,
.index-section-content-wrapper.loading .index-section-content:after,
.index-section-content-wrapper.loaded .index-section-content:before,
.index-section-content-wrapper.loaded .index-section-content:after,
#loading-indicator-wrapper:before,
#loading-indicator-wrapper:after,
#dialog-wrapper:before,
#dialog-wrapper:after {
  border: solid 5px rgba(255, 255, 255, 0.4);
  position: absolute;
  display: block;
  height: 100%;
  content: '';
  width: 20px;
}
.ui-foreground-container:before,
.ui-foreground-container-hidden:before,
.index-section-content-wrapper.loading .index-section-content:before,
.index-section-content-wrapper.loaded .index-section-content:before,
#loading-indicator-wrapper:before,
#dialog-wrapper:before {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: none;
  left: -5px;
  top: -5px;
}
.ui-foreground-container:after,
.ui-foreground-container-hidden:after,
.index-section-content-wrapper.loading .index-section-content:after,
.index-section-content-wrapper.loaded .index-section-content:after,
#loading-indicator-wrapper:after,
#dialog-wrapper:after {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: none;
  right: -5px;
  top: -5px;
}
.ui-foreground-rhombus-wrapper,
.index-section-wrapper {
  padding: 35px 0px 0px 35px;
  height: 205px;
  width: 205px;
}
.ui-foreground-rhombus,
.index-section {
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  background-color: rgba(50, 50, 50, 0.6);
  -webkit-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  height: 170px;
  width: 170px;
}
.ui-foreground-rhombus:before,
.ui-foreground-rhombus:after,
.index-section:before,
.index-section:after {
  border: solid 5px rgba(255, 255, 255, 0.4);
  position: absolute;
  display: block;
  height: 40px;
  content: '';
  width: 40px;
}
.ui-foreground-rhombus:before,
.index-section:before {
  border-right: none;
  border-top: none;
  bottom: -5px;
  left: -5px;
}
.ui-foreground-rhombus:after,
.index-section:after {
  border-bottom: none;
  border-left: none;
  right: -5px;
  top: -5px;
}
.ui-foreground-title,
#loading-indicator-title,
#dialog-title,
.index-section-title,
#no-js-title {
  font-family: 'Uni Sans Regular';
  text-align: center;
  font-size: 2em;
  padding: 10px;
}
.ui-foreground-title strong,
#dialog-title strong {
  font-family: 'Uni Sans Bold';
}
.ui-foreground-content {
  font-family: 'Quicksand Regular';
  font-size: 1em;
  padding: 5px 10px;
}
.ui-foreground-content p {
  padding: 5px 10px;
  margin: 0px;
}
.animation-fade-in,
.ui-foreground-container-hidden:before,
.ui-foreground-container-hidden:after,
#loading-indicator-wrapper:before,
#loading-indicator-wrapper:after,
#dialog-wrapper:before,
#dialog-wrapper:after {
  -webkit-animation: fade-in 0.5s linear 2;
  -moz-animation: fade-in 0.5s linear 2;
  -o-animation: fade-in 0.5s linear 2;
  animation: fade-in 0.5s linear 2;
}
@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.animation-rotate-z,
#loading-indicator-progress-bar,
#loading-indicator-progress-bar:before,
.index-section-content-wrapper {
  -webkit-animation: rotate-z 1s linear infinite;
  -moz-animation: rotate-z 1s linear infinite;
  -o-animation: rotate-z 1s linear infinite;
  animation: rotate-z 1s linear infinite;
}
@-webkit-keyframes rotate-z {
  from {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-moz-keyframes rotate-z {
  from {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@-o-keyframes rotate-z {
  from {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
@keyframes rotate-z {
  from {
    -webkit-transform: rotateZ(0deg);
    -ms-transform: rotateZ(0deg);
    transform: rotateZ(0deg);
  }
  to {
    -webkit-transform: rotateZ(360deg);
    -ms-transform: rotateZ(360deg);
    transform: rotateZ(360deg);
  }
}
#loading-indicator {
  background-image: url('../../images/style/background-stripes.png');
  display: none;
}
#loading-indicator-wrapper {
  display: none;
  height: 200px;
  z-index: 998;
  width: 500px;
}
#loading-indicator-inside {
  overflow: hidden;
}
#loading-indicator-progress-bar {
  border: solid 4px rgba(255, 255, 255, 0.4);
  border-right-color: transparent;
  border-left-color: transparent;
  margin: -74px 0px 0px -74px;
  border-radius: 140px;
  height: 140px;
  width: 140px;
}
#loading-indicator-progress-bar:before {
  border: solid 4px rgba(255, 255, 255, 0.4);
  border-right-color: transparent;
  border-left-color: transparent;
  margin: -79px 0px 0px -79px;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  border-radius: 140px;
  height: 150px;
  width: 150px;
  content: '';
}
#dialog {
  background-image: url('../../images/style/background-stripes.png');
  display: none;
}
#dialog-wrapper {
  display: none;
  z-index: 999;
  width: 500px;
}
#dialog-inside {
  overflow: hidden;
}
#dialog-comment {
  text-align: center;
}
#dialog.error {
  background-image: url('../../images/style/background-stripes-error.png') !important;
}
#dialog.error #dialog-wrapper {
  -webkit-box-shadow: inset rgba(200, 50, 50, 0.2) 0px 0px 200px;
  -moz-box-shadow: inset rgba(200, 50, 50, 0.2) 0px 0px 200px;
  box-shadow: inset rgba(200, 50, 50, 0.2) 0px 0px 200px;
  background-color: rgba(200, 50, 50, 0.2);
  color: #ff0000;
}
#dialog.error #dialog-wrapper:before,
#dialog.error #dialog-wrapper:after {
  border-color: rgba(255, 50, 20, 0.4);
}
#dialog.warning {
  background-image: url('../../images/style/background-stripes-warning.png') !important;
}
#dialog.warning #dialog-wrapper {
  -webkit-box-shadow: inset rgba(100, 100, 0, 0.2) 0px 0px 200px;
  -moz-box-shadow: inset rgba(100, 100, 0, 0.2) 0px 0px 200px;
  box-shadow: inset rgba(100, 100, 0, 0.2) 0px 0px 200px;
  background-color: rgba(100, 100, 0, 0.2);
  color: #ffd800;
}
#dialog.warning #dialog-wrapper:before,
#dialog.warning #dialog-wrapper:after {
  border-color: rgba(255, 250, 63, 0.4);
}
.index-sections.loaded .index-section-title {
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
  color: #ffffff;
}
.index-sections.loaded .index-section:hover .index-section-title {
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 1px;
}
.index-sections.loaded-sections .index-section:hover {
  -webkit-box-shadow: inset rgba(174, 0, 255, 0.4) 0px 0px 50px;
  -moz-box-shadow: inset rgba(174, 0, 255, 0.4) 0px 0px 50px;
  box-shadow: inset rgba(174, 0, 255, 0.4) 0px 0px 50px;
  background-color: rgba(0, 192, 255, 0.2);
  cursor: pointer;
}
.index-sections.loaded-sections .index-section:hover:before {
  -webkit-box-shadow: rgba(0, 192, 255, 0.2) -10px 10px 0px -5px;
  -moz-box-shadow: rgba(0, 192, 255, 0.2) -10px 10px 0px -5px;
  box-shadow: rgba(0, 192, 255, 0.2) -10px 10px 0px -5px;
  border-color: rgba(174, 0, 255, 0.4);
  bottom: -15px;
  left: -15px;
}
.index-sections.loaded-sections .index-section:hover:after {
  -webkit-box-shadow: rgba(0, 192, 255, 0.2) 10px -10px 0px -5px;
  -moz-box-shadow: rgba(0, 192, 255, 0.2) 10px -10px 0px -5px;
  box-shadow: rgba(0, 192, 255, 0.2) 10px -10px 0px -5px;
  border-color: rgba(174, 0, 255, 0.4);
  right: -15px;
  top: -15px;
}
.index-sections-content.loaded-sections .index-section-content-wrapper:before,
.index-sections-content.loaded-sections .index-section-content-wrapper:after {
  border-width: 5px;
}
.index-section {
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  z-index: 997;
}
.index-section:before,
.index-section:after {
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.index-section-title {
  margin: -30px 0px 0px -130px;
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  width: 240px;
}
.index-section-content {
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  display: none;
  opacity: 0;
}
.index-section-content-wrapper.loading,
.index-section-content-wrapper.loaded {
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
  padding: 40px;
  height: auto;
  width: 880px;
  margin: 0px;
  left: 0px;
  top: 0px;
}
.index-section-content-wrapper.loading:before,
.index-section-content-wrapper.loaded:before,
.index-section-content-wrapper.loading:after,
.index-section-content-wrapper.loaded:after {
  display: none;
}
.index-section-content-wrapper.loaded {
  position: relative;
  z-index: 996;
}
.index-section-content-wrapper.loading .index-section-content,
.index-section-content-wrapper.loaded .index-section-content {
  overflow: visible;
  display: block;
}
.index-section-content-wrapper.loaded .index-section-content-item-thumbnail {
  opacity: 0.2;
}
.index-section-content-wrapper {
  margin: -175px 0px 0px -175px;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
  border-radius: 350px;
  position: absolute;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  height: 350px;
  width: 350px;
  z-index: -1;
  left: 50%;
  top: 50%;
}
.index-section-content-wrapper:before,
.index-section-content-wrapper:after {
  border: solid 0px rgba(255, 255, 255, 0.4);
  margin: 0px 0px 0px -10px;
  border-bottom: none;
  position: absolute;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  border-top: none;
  display: block;
  height: 40px;
  content: '';
  width: 20px;
  left: 50%;
}
.index-section-content-wrapper:before {
  top: -30px;
}
.index-section-content-wrapper:after {
  bottom: -30px;
}
.index-section-content-inside {
  overflow: hidden;
  padding: 0px;
}
.index-section-content-bar {
  padding: 10px;
}
.index-section-content-bar-back,
.index-section-content-bar-tools {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  height: 40px;
}
.index-section-content-bar-back > div,
.index-section-content-bar-tools > div {
  -webkit-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  -moz-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  background-color: rgba(0, 154, 204, 0.6);
  font-family: 'Uni Sans Regular';
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  line-height: 40px;
  padding: 0px 15px;
  height: 40px;
}
.index-section-content-bar-back {
  width: 15%;
}
.index-section-content-bar-back > div {
  border-top-left-radius: 10px;
  margin: 0px 10px 0px 0px;
  text-align: center;
  cursor: pointer;
}
.index-section-content-bar-back > div:hover {
  -webkit-box-shadow: inset rgba(139, 0, 204, 0.8) 0px 0px 150px 100px;
  -moz-box-shadow: inset rgba(139, 0, 204, 0.8) 0px 0px 150px 100px;
  box-shadow: inset rgba(139, 0, 204, 0.8) 0px 0px 150px 100px;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 1px;
}
.index-section-content-bar-tools {
  width: 85%;
}
.index-section-content-bar-tools > div {
  border-top-right-radius: 10px;
  margin: 0px 0px 0px 10px;
}
.index-section-content-item {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}
.index-section-content-item-link {
  overflow: hidden;
  display: block;
  height: 200px;
  margin: 10px;
}
.index-section-content-item-link-inside {
  -webkit-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  -moz-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  background-color: rgba(0, 154, 204, 0.6);
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
}
.index-section-content-item-link-inside:hover {
  -webkit-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 0px 0px;
  -moz-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 0px 0px;
  box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 0px 0px;
  -webkit-animation: section-content-item-hover 1s linear 1;
  -moz-animation: section-content-item-hover 1s linear 1;
  -o-animation: section-content-item-hover 1s linear 1;
  animation: section-content-item-hover 1s linear 1;
  background-color: transparent;
}
.index-section-content-item-link-inside:hover .index-section-content-item-title div {
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px;
  opacity: 0.5;
}
.index-section-content-item-link-inside:hover .index-section-content-item-thumbnail {
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  -o-filter: blur(0px);
  filter: blur(0px);
  opacity: 0.8;
}
.index-section-content-item-title {
  position: relative;
  padding: 5px;
  z-index: 995;
}
.index-section-content-item-title div {
  text-shadow: rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 10px, rgba(255, 255, 255, 0.5) 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 5px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 2px, rgba(255, 255, 255, 0.5) 0px 0px 1px;
  color: #ffffff;
  font-family: 'Uni Sans Regular';
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  text-align: left;
  font-size: 1.5em;
  padding: 5px 5px;
}
.index-section-content-item-thumbnail {
  background-color: rgba(50, 50, 50, 0.6);
  background-size: cover;
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -ms-filter: blur(2px);
  -o-filter: blur(2px);
  filter: blur(2px);
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  z-index: 0;
  opacity: 0;
}
@-webkit-keyframes section-content-item-hover {
  0% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  }
  50% {
    -webkit-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    -moz-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    box-shadow: inset #8b00cc 0px 0px 0px 20px;
  }
  100% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
  }
}
@-moz-keyframes section-content-item-hover {
  0% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  }
  50% {
    -webkit-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    -moz-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    box-shadow: inset #8b00cc 0px 0px 0px 20px;
  }
  100% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
  }
}
@-o-keyframes section-content-item-hover {
  0% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  }
  50% {
    -webkit-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    -moz-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    box-shadow: inset #8b00cc 0px 0px 0px 20px;
  }
  100% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
  }
}
@keyframes section-content-item-hover {
  0% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
    box-shadow: inset rgba(139, 0, 204, 0.6) 0px 0px 100px;
  }
  50% {
    -webkit-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    -moz-box-shadow: inset #8b00cc 0px 0px 0px 20px;
    box-shadow: inset #8b00cc 0px 0px 0px 20px;
  }
  100% {
    -webkit-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    -moz-box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
    box-shadow: inset rgba(139, 0, 204, 0) 0px 0px 0px 200px;
  }
}
.content-default {
  margin: 0px auto;
  padding: 20px;
  width: 920px;
}
.content-default-article img {
  max-width: 100%;
}
.content-default-article-bar {
  font-family: 'Quicksand Regular';
  margin: 0px 0px 20px 0px;
  font-size: 24px;
}
.content-default-article-bar-back {
  margin: 0px 20px 0px 0px;
  background-color: #ccc;
  display: inline-block;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  line-height: 60px;
  padding: 0px 20px;
  height: 60px;
  color: #fff;
  float: left;
}
.content-default-article-bar-back:hover {
  padding: 0px 25px 0px 15px;
  background-color: #bbb;
}
.content-default-article-bar-title {
  padding: 16px;
}
.content-default-article-text {
  font-family: 'Trebuchet MS';
  background-color: #f8f8f8;
  padding: 10px;
}
.content-default-article-text p {
  text-indent: 15px;
  line-height: 22px;
  font-size: 16px;
  padding: 10px;
  margin: 0px;
}
.content-default-article-text p ins {
  text-decoration: none;
  color: #999;
}
.content-default-article-text p a {
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  display: inline-block;
  -webkit-perspective: 600px;
  -ms-perspective: 600px;
  perspective: 600px;
  position: relative;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  text-indent: 0px;
  padding: 2px 4px;
  color: inherit;
  z-index: 1;
}
.content-default-article-text p a:hover:after {
  -webkit-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.content-default-article-text p a:before {
  background-color: #ccc;
  position: absolute;
  content: '';
  height: 2px;
  width: 100%;
  left: 0px;
  top: 100%;
}
.content-default-article-text p a:after {
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transform: rotateX(95deg);
  -ms-transform: rotateX(95deg);
  transform: rotateX(95deg);
  background-color: #ddd;
  position: absolute;
  -webkit-transition: all 500ms ease 0s;
  -moz-transition: all 500ms ease 0s;
  -o-transition: all 500ms ease 0s;
  transition: all 500ms ease 0s;
  height: 100%;
  content: '';
  z-index: -1;
  width: 100%;
  left: 0px;
  top: 0px;
}
body {
  background-image: url('../../images/style/graphy.png');
  background-position: center;
  position: relative;
  font-size: medium;
  min-width: 960px;
  height: 100%;
  margin: 0px;
}
#body-inside {
  position: absolute;
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
#no-js {
  text-align: center;
  position: absolute;
  z-index: 999;
  height: 100%;
  width: 100%;
}
#no-js-inside {
  -webkit-box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  -moz-box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  box-shadow: inset rgba(255, 255, 255, 0.05) 0px 0px 200px;
  background-color: rgba(50, 50, 50, 0.6);
  color: #ffffff;
  border-radius: 15px;
  position: relative;
  padding: 10px;
  display: inline-block;
  text-align: left;
}
#no-js-inside:before,
#no-js-inside:after {
  border: solid 5px rgba(255, 255, 255, 0.4);
  position: absolute;
  display: block;
  height: 100%;
  content: '';
  width: 20px;
}
#no-js-inside:before {
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-right: none;
  left: -5px;
  top: -5px;
}
#no-js-inside:after {
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border-left: none;
  right: -5px;
  top: -5px;
}
