@import "variables";
@import "mixins";

.hidden {
  display:none !important;
}
.zoomOutCurrent {
  .transform(translateZ(-500px), rotateX(0deg)) !important;
}
.zoomOutLoading {
  .transform(translateZ(-500px), rotateX(-90deg)) !important;
}
.flipOut {
  .transform(translateZ(-500px), rotateX(90deg)) !important;
}
.flipIn {
  .transform(translateZ(-500px), rotateX(0deg)) !important;
}
@-webkit-keyframes revolution {
  from { .transform(rotate(0deg)); }
  to { .transform(rotate(360deg)); }
}
@keyframes revolution {
  from { .transform(rotate(0deg));opacity:0; }
  to { .transform(rotate(360deg));opacity:1; }
}