#page-container {
  .transform-style(preserve-3d);
  .perspective(1200px);
  position:relative;
  height:100%;
  width:100%;
}
.page {
  .backface-visibility(hidden);
  .transform-origin(50% 50%);
  position:absolute;
  .transition(slow);
  overflow:hidden;
  display:block;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
}
.current-page {
  .transform(translateZ(0px), rotateX(0deg));
}
.loading-page {
  .transform(translateZ(-500px), rotateX(-90deg));
}
.page-inside {
  background-color:@page-background-color;
  overflow-x:hidden;
  position:absolute;
  color:@page-color;
  overflow-y:auto;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
}

// Loading indicator
#loading-indicator {
  background-color:transparent;
  position:absolute;
  .transition(slow);
  z-index:997;
  height:100%;
  width:100%;
  left:0px;
  top:0px;
  &.loaded {
    background-color:@loading-indicator-background-color;
  }
  &.loaded &-inside {
    .transform(scale(1));
    opacity:1;
  }
  &-inside {
    margin:-40px 0px 0px -40px;
    .transform-origin(50% 50%);
    .transform(scale(2));
    position:absolute;
    .transition(slow);
    height:80px;
    width:80px;
    opacity:0;
    left:50%;
    top:50%;
  }
  &-box {
    border:solid 1px @loading-indicator-foreground-color;
    .animation(revolution 2s linear infinite);
    margin:-41px 0px 0px -41px;
    position:absolute;
    height:80px;
    width:80px;
    left:50%;
    top:50%;
    &:before {
      border:solid 1px @loading-indicator-foreground-color;
      .animation(revolution 1s linear infinite reverse);
      position:absolute;
      opacity:0.8;
      height:56px;
      content:'';
      width:56px;
      left:11px;
      top:11px;
    }
    &:after {
      border:solid 1px @loading-indicator-foreground-color;
      position:absolute;
      opacity:0.6;
      height:40px;
      content:'';
      width:40px;
      left:19px;
      top:19px;
    }
  }
}

// kuzhagaliyev.kz logo
#loading {
  background-color:@loading-background-color;
  &.final &-inside {
    color:@loading-color;
  }
  &.final &-k {
    right:543px;
    opacity:0;
  }
  &.final &-z {
    left:543px;
    opacity:0;
  }
  &.intermediate &-k {
    right:543px;
  }
  &.intermediate &-z {
    left:543px;
  }
  &-inside {
    font-family:'Quicksand Regular';
    color:@loading-background-color;
    margin:-50px 0px 0px -300px;
    text-transform:uppercase;
    line-height:100px;
    text-align:center;
    position:absolute;
    .transition(slow);
    font-size:60px;
    height:100px;
    width:600px;
    left:50%;
    top:50%;
  }
  &-k, &-z {
    color:@loading-color;
    position:absolute;
    .transition(slow);
    height:100px;
    width:40px;
    opacity:1;
  }
  &-k {
    right:300px;
  }
  &-z {
    left:300px;
  }
}