// Misc
@base-url: 'http://kuzhagaliyev.kz/';
@image-url: '../../images/style/';
@background-color: #282828;

// UI
@ui-foreground-container-bg: rgba(50, 50, 50, 0.6);
@ui-foreground-container-text: #fff;
@ui-foreground-container-border: rgba(255, 255, 255, 0.4);
@ui-foreground-container-shadow: rgba(255, 255, 255, 0.2);
@ui-foreground-container-inner-shadow: rgba(255, 255, 255, 0.05);
@ui-foreground-container-text-shadow: rgba(255, 255, 255, 0.5);

@ui-foreground-container-hover-border: rgba(174, 0, 255, 0.4);
@ui-foreground-container-hover-bg: rgba(0, 192, 255, 0.2);
@ui-foreground-container-hover-inner-shadow: rgba(174, 0, 255, 0.4);

// Dialogs
@warning-bg: rgba(100, 100, 0, 0.2);
@warning-shadow: rgba(100, 100, 0, 0.2);
@warning-border: rgba(255, 250, 63, 0.4);
@warning-text: #ffd800;

@error-bg: rgba(200, 50, 50, 0.2);
@error-shadow: rgba(200, 50, 50, 0.2);
@error-border: rgba(255, 50, 20, 0.4);
@error-text: #ff0000;