@import "../import/variables";
@import "../import/mixins";

@category-name: Dota2-Mods;

//@Lanaya-Custom-Icons: Lanaya-Custom-Icons;
//#@{Lanaya-Custom-Icons} {
//  .@{category-name}-icons-preview {
//    background-image:url('@{base-url}images/@{category-name}/@{Lanaya-Custom-Icons}/icons-preview.png');
//    height:314px;
//    width:745px;
//  }
//}

.@{category-name} {
  background-attachment:fixed;
  background-repeat:no-repeat;
  background-color:#222;
  background-size:cover;
  &-title {
    font-family:'Quicksand Regular';
    text-align:center;
    font-size:36px;
    padding:20px;
    color:#fff;
  }
  &-version-selector {
    display:inline-block;
    .perspective(500px);
    position:relative;
    line-height:50px;
    text-align:right;
    height:50px;
    span {
      font-size:0.8em;
    }
    &.version-dropdown &-title {
      cursor:pointer;
      &:hover {
        background-color:rgba(0, 0, 0, 0.5);
      }
    }
    &-title {
      background-color:rgba(0, 0, 0, 0.4);
      .transition(slow, background-color);
      line-height:50px;
      padding:0px 10px;
      height:50px;
    }
    &-options {
      .transform-style(preserve-3d);
      .transform(rotateX(-90deg));
      .transform-origin(50% 0%);
      .transition(slow);
      position:absolute;
      display:block;
      z-index:-1;
      opacity:0;
      right:0px;
      top:100%;
      &.expanded {
        .transform(rotateX(0deg)) !important;
        opacity:1 !important;
      }
    }
    &-option {
      background-color:rgba(0, 0, 0, 0.4);
      .transition(slow, background-color);
      padding:0px 10px 0px 10px;
      white-space:nowrap;
      line-height:50px;
      cursor:pointer;
      height:50px;
      &:hover {
        background-color:rgba(0, 0, 0, 0.5);
      }
    }
  }
  &-icons-preview {
    background-image:url('@{base-url}images/@{category-name}/icons-preview.png');
    background-repeat:no-repeat;
    background-size:cover;
    .transition(slow);
    margin:20px auto;
    height:168px;
    width:600px;
  }
  &-buttons {
    text-align:center;
    padding:10px;
    color:#fff;
    & a {
      background-color:rgba(0, 0, 0, 0.4);
      .transition(slow, background-color);
      font-family:'Quicksand Regular';
      display:inline-block;
      font-size:24px;
      padding:20px;
      margin:10px;
      color:#fff;
      &:hover {
        background-color:rgba(0, 0, 0, 0.5);
      }
      span {
        font-family:'Quicksand Light';
      }
    }
  }
  &-info {
    font-family:'Quicksand Regular';
    padding:20px;
    h1 {
      margin: 10px 0px 0px 0px;
      padding: 0px 2% 0px 0px;
      display: inline-block;
      vertical-align: top;
      font-weight: normal;
      text-align: right;
      color: #fff;
      width: 24%;
    }
    div {
      background-color: rgba(0, 0, 0, 0.4);
      margin: 0px 0px 20px 0px;
      display: inline-block;
      vertical-align: top;
      padding: 0px;
      color: #fff;
      width: 74%;
    }
    p {
      line-height: 20px;
      padding: 20px;
      margin: 0px;
    }
    ol {
      padding: 10px;
      margin: 0px;
    }
    li {
      list-style-position: inside;
      line-height: 20px;
      padding: 10px;
      margin: 0px;
      code {
        background-color: rgba(0, 0, 0, 0.4);
        padding: 2px 4px;
      }
    }
  }
}

